
/***********ID SELECTORS*********/
#title{
  background-color: #ff4c68;
  color:#fff;
}
#features{
 padding: 7% 15%;
 background-color: #fff;

}
#testimonials{

  text-align: center;
  background-color:  #ef8172;
  color: #fff;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
#pricing{
  padding: 100px;
text-align: center;
}
#cta{
  background-color:  #ff4c68;
  height: 500px;

}
#footer{
  background-color: #fff;
     text-align: center;
}
/***********TAG SELECTORS*********/
h2{
  font-family: Serif"Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
h1{
  font-family:serif"Montserrat-Black";
  font-weight: 900;
  font-size: 3.5rem;
line-height: 1.5;
}
body{
  font-family:serif"Montserrat";
}
 h3{
   font-family:serif "Montserrat";
   font-weight: bold;

 }
 p{
   color: #8f8f8f;
 }
/***********class selectors************/

.navbar{
  padding:0 0 4.5rem;
}
.cta-text{
  font-size: 3.5rem;
  text-align: center;
  font-family:serif "Montserrat-Black";
  font-weight: 900;
padding: 2%;
color: #fff;
line-height: 1.5;
}
.container-fluid{
  padding: 3% 15% ;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
 .nav-link{
   font-size: 1.2rem;
   font-family: serif"Montserrat-Light"
 }

.Download-button{
  margin: 5% 3% 5% 0%;
}

.title-image{
  width: 60%;
  transform: rotate(25deg);

}

.press-logo{
width: 15%;
margin: 20px 20px 50px;
}
.pricing-column{
  padding: 2% 3%;
}
.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem
}
.icon:hover{
  color: #ff4c68;
}
.carousel-item{
  padding: 7% 15%
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


@media(max-width: 1028px){
  #title{
    text-align: center; }
    .title-image{
      position: static;
      transform: rotate(0);
    }
}
